@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Righteous&display=swap');

.todo-card {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #333;
  align-content: center;
  justify-content: center;
}

.todo-card h2{
  font-family: "Righteous";
}

.todo-description {
  margin-left: 30px;
  text-align: justify;
  width: 70%;

}

.todo-description p {
  font-family: "Caveat";
}
